<h1>Admin List</h1>
<hr>
<p id="notice"><%= notice %></p>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>E-Mail Address</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @admins.each do |admin| %>
      <tr>
        <% if (admin.id == session[:admin_id] || admin.id == 1)%>
            <td><%= admin.name %></td>
            <td><%= admin.email %></td>
            <td></td>
        <% else %>
            <td><%= admin.name %></td>
            <td><%= admin.email %></td>
            <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-md btn-primary"%>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="center">
  <%= link_to 'New Admin', new_admin_path , class: "btn btn-md btn-primary" %>
</div>
<br>
<br>
