<p id="notice"><%= notice %></p>
<table>
  <h3 class="center"> Admin Details</h3>
  <tr>
    <th>Name:</th>
  <td><%= @admin.name %></td>
  </tr>


  <tr>
    <th>Email:</th>
    <td><%= @admin.email %></td>
    </tr>

  <tr>
    <th>Password digest:</th>
    <td><%= @admin.password_digest %></td>
</tr>
</table>
<div class="center", padding="15px">
<%= link_to 'Edit', edit_admin_path(@admin), class: "btn btn-lg btn-primary" %> |
<%= link_to 'Back', admins_path, class: "btn btn-lg btn-primary" %>
</div>