<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :slot_start %>
    <%= f.datetime_select :slot_start %>
  </div>

  <div class="field">
    <%= f.label :room_number  %>
    <%= select("booking", "room_id", Room.all.collect{ |r| [ r.room_number, r.id] }) %>
  </div>



    <% if admin_logged_in? %>
    <div class="field">
      <%= f.label :member %>
      <%= select("booking", "member_id", Member.all.collect{ |m| [ m.name, m.id] }) %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
