<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<%= form_tag 'bookings/search', :method=>'post' do %>

    <div class="field">
      <%= label_tag :date %>
      <%= date_select("params","date", start_year: Date.today.year,selected: Date.today,end_year:(Date.today+ 7).year )%>

      <%= label_tag :slot %>
      <%= select("params","slot_start",[["all",:all]] + [["0-2",Time.new(1000, 1, 1, 00)],["2-4",Time.new(1000, 1, 1, 02)],["4-6",Time.new(1000, 1, 1, 04)],["6-8",Time.new(1000, 1, 1, 06)],["8-10",Time.new(1000, 1, 1, 8)],["10-12",Time.new(1000, 1, 1, 10)],["12-14",Time.new(1000, 1, 1, 12)],["14-16",Time.new(1000, 1, 1, 14)],["16-18",Time.new(1000, 1, 1, 16)],["18-20",Time.new(1000, 1, 1, 18)],["20-22",Time.new(1000, 1, 1, 20)],["22-00",Time.new(1000, 1, 1, 22)]])%>

      <%= label_tag :room_number  %>
      <%= select("params", "room_id", [["all",:all]] + Room.all.collect{ |r| [ r.room_number, r.id] }) %>

      <% if admin_logged_in? %>
          <%= label_tag :member %>
          <%= select("params", "member_id",[["all",:all]] +  Member.all.collect{ |m| [ m.name, m.id] }) %>
      <% end %>
      <% if member_logged_in? %>
          <%= label_tag :member %>
          <%= select("params", "member_id", [["all",:all]] +  [[ current_member.name, current_member.id]] ) %>
      <% end %>
    </div>
      <%= submit_tag "Search" %>
<% end %>

<br>
<br>

<h1>Booking History</h1>
<table>
  <thead>
    <tr>
      <th>Room Number  </th>
      <th>Booked By    </th>
      <th>Date         </th>
      <th>Slot start   </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= Room.find(booking.room_id).room_number %></td>
        <td><%= Member.find(booking.member_id).name %></td>
        <td><%= booking.date %></td>
        <td><%= booking.slot_start %></td>

        <% if admin_logged_in? %>
            <td><% if((Time.current<booking.slot_start+1))%> <%= link_to 'Release', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-md btn-info" %><% end %></td>
            <% end %>
      <% if member_logged_in? %>
        <td><% if((Time.current<booking.slot_start+1) && (current_member.id==booking.member_id))%> <%= link_to 'Release', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-md btn-info" %><% end %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="center">
<%= link_to 'New Booking', new_booking_path, class: "btn btn-md btn-info"%>
</div>