<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Slot start:</strong>
  <%= @booking.slot_start %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking), class: "btn btn-md btn-info" %> |
<%= link_to 'Back', bookings_path, class: "btn btn-md btn-info" %>
