<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<%= form_tag '/rooms/search', :method=>'post' do %>

    <div class="field">
        <%= label_tag :room_number %>
        <%= select("params", "room_number",[["all",:all]] +  Room.all.collect{ |r| [ r.room_number, r.room_number] }) %>

      <%= label_tag :size %>
      <%= select("params", "size", [["all",:all]] +  Room.all.collect{ |r| [ r.size, r.size] }.uniq{|x| x}) %>

      <%= label_tag :building %>
      <%= select("params", "building",  [["all",:all]] + Room.all.collect{ |r| [ r.building, r.building] }.uniq{|x| x} ) %>

    </div>
    <%= submit_tag "Search" %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Room number</th>
      <th>Size</th>
      <th>Building</th>
      <th></th>
      <% if admin_logged_in? %>
      <th></th>
          <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.room_number %></td>
        <td><%= room.size %></td>
        <td><%= room.building %></td>

        <td><%= link_to 'Show Bookings', bookings_path({room:room}), class: "btn btn-md btn-info" %></td>
        <% if admin_logged_in? %>
          <td><%= link_to 'Edit', edit_room_path(room), class: "btn btn-md btn-info" %></td>
        <% end %>
        <% if admin_logged_in? %>
          <td><%= link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-md btn-info" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<p></p>
<% if admin_logged_in? %>
<div class="center">
  <%= link_to 'New Room', new_room_path, class: "btn btn-md btn-info"%>
</div>
<% end %>