<% if !member_logged_in? &&  !admin_logged_in?%>
    <div class="center jumbotron">
      <h1>Room Booking Ruby on Rails Application</h1>

      <br><br>
      <h2>
        This is the home page for the application.
      </h2>

      <%= link_to "Click here to signup!" , signup_path, class: "btn btn-lg btn-default" %>
    </div>

<% end %>
<% if admin_logged_in? %>
    <div class="center jumbotron">
      <h1>Welcome Admin</h1>
      <h2><%= link_to "Edit Profile",  edit_admin_path(1), class: "btn btn-block btn-default"%></h2>
      <h2><%= link_to "Manage Admins", admins_path, class: "btn btn-block btn-default" %></h2>
      <h2><%= link_to "Manage Members", members_path, class: "btn btn-block btn-default"%></h2>
      <h2><%= link_to "Manage Rooms", rooms_path, class: "btn btn-block btn-default"%></h2>
      <h2><%= link_to "Manage Bookings", bookings_path, class: "btn btn-block btn-default"%></h2>
    </div>
<% end %>
<% if member_logged_in? %>
    <div class="center jumbotron">
      <h1>Welcome to Library Room Booking System</h1>
      <h2><%= link_to "Edit Profile",  edit_member_path(1), class: "btn btn-block btn-default"%></h2>
      <h2><%= link_to "View Rooms", rooms_path, class: "btn btn-block btn-default"%></h2>
      <h2><%= link_to "Bookings", bookings_path, class: "btn btn-block btn-default"%></h2>
      <h2><%= link_to "My Booking history", bookings_path({member:current_member.id}), class: "btn btn-block btn-default"%></h2>
    </div>
<% end %>