<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Library App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <% if member_logged_in? ||  admin_logged_in?%>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
        <% else %>
            <li><%= link_to "Admin Log in", admin_login_path %></li>
            <li><%= link_to "Member Log in", member_login_path %></li>
            </ul>
        <% end %>
        <% if admin_logged_in? %>
            <!-- p> Admin logged in. </p -->
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to "List all Admins", controller: 'admins', action: 'admin_list' %></li>
              <li><%= link_to "Rooms", rooms_path %></li>
              <li><%= link_to "Bookings", bookings_path %></li>
              <li><%= link_to "Edit Profile",  edit_admin_path(1)%></li>
              <!-- %= link_to "List all Admins", admins_path %></li -->
            </ul>
        <% end %>
        <% if member_logged_in? %>
            <!-- p> Member logged in. </p -->
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to "Rooms", rooms_path %></li>
              <li><%= link_to "Bookings", bookings_path %></li>
              <li><%= link_to "Edit Profile", edit_member_path(1)%></li>
              <li><%= link_to "My Booking history", bookings_path({member:current_member.id})%></li>
            </ul>
        <% end %>

        </nav>
    </div>
  </header>