<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <% if admin_logged_in? %>
      <th colspan="3"></th>
      <% else %>
      <th></th>
       <% end %>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>

        <td><%= link_to 'Show', member, class: "btn btn-md btn-info" %></td>
        <% if admin_logged_in? %>
        <td><%= link_to 'Edit', edit_member_path(member), class: "btn btn-md btn-info" %></td>
        <td><%= link_to 'Delete', member, method: :delete, data: { confirm: 'All the bookings made by this member will also be lost. Are you sure? ' } ,class: "btn btn-md btn-info"%></td>
            <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if admin_logged_in? %>
    <div class="center">
      <%= link_to 'New Member', new_member_path, class: "btn btn-md btn-info"%>
    </div>
<% end %>
<br>


