<h1> Library Member Details </h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Name:</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>Email:</th>
  <td><%= @member.email %></td>
</table>

<br>
<br>
<% if !admin_logged_in? %>
<div class="center">
<%= link_to "log in", member_login_path, class: "btn btn-md btn-info" %>
</div>
<%end%>
<% if admin_logged_in? %>
    <div class="center">
      <%= link_to "back", members_path, class: "btn btn-md btn-info" %>
    </div>
<%end%>